@{
    ViewBag.Title = "Acerda de";
}
<h2>@ViewBag.Title.</h2><br /><br />
<h3>@ViewBag.Message</h3><br /><br />
<link href="~/Content/main.css" rel="stylesheet" />

<p class="creadores">Alexander Batista Reyes. Matricula: 2017-0393.</p>
<p class="creadores">Brian Rafael Correa. Matricula: 2017-0343.</p>
<p class="creadores">Luis Laureano Canario. Matricula: 2017-0702.</p>
<p class="creadores">Briahna. Matricula: 2013-1381.</p>
